/*
 *
 * 変数
 *
 */
$MAIN_COLOR: #009400;
$SUB_COLOR: #360094;
$ACCENT_COLOR: #ff5c28;
$FONT_COLOR: #333;
$TRANSITION: .3s;
$CONTENT_WIDTH: 1024px;
$PC_FONT_BASE: 1.6rem;
$SP_FONT_BASE: 1.4rem;
$HEADING_FONT_BASE_VALUE: .8rem;

/*
 *
 * mixin
 *
 */
// PC表示
@mixin breakPC() {
    @media screen and (min-width: 760px) {
        @content;
    }
}

// SP表示（基本的にSPベースの記述だから局所的に使用する）
@mixin breakSP() {
    @media screen and (max-width: 759px) {
        @content;
    }
}

// 直下の子要素のmarginを打ち消す。（子要素のmarginが親要素に関与しないため）
@mixin resetMargin() {
    & > *:first-child {
        margin-top: 0;
    }

    & > *:last-child {
        margin-bottom: 0;
    }
}

@mixin createHeadingValue($font_value) {
    $PC_HEADING_VALUE: calc(#{$HEADING_FONT_BASE_VALUE} * 2 * #{$font_value});
    $SP_HEADING_VALUE: calc(#{$HEADING_FONT_BASE_VALUE} * #{$font_value + 1});

    margin:
        calc(#{$SP_HEADING_VALUE} + #{$HEADING_FONT_BASE_VALUE})
        0
        $SP_HEADING_VALUE;
    font-size: $SP_HEADING_VALUE;

    @include breakPC() {
        margin:
            calc(#{$PC_HEADING_VALUE} + #{$HEADING_FONT_BASE_VALUE})
            0
            $PC_HEADING_VALUE;
        font-size: $PC_HEADING_VALUE;
    }
}